#box1{
    height:100px;
    width:100px;
    background-color: rgb(250, 253, 253);
    border:5px inset black;
}

#box2{
    height:100px;
    width:100px;
    background-color: black;
    border:5px inset black;
}

#box3{
    height:100px;
    width:100px;
    background-color: white;
    border:5px inset black;
}


#box4{
    height:100px;
    width:100px;
    background-color: black;
    border:5px inset black;
}


#box5{
    height:100px;
    width:100px;
    background-color: white;
    border:5px inset black;
}

#box6{
    height:100px;
    width:100px;

    background-color: black;
    border:5px inset black;
}





#box7{
    height:100px;
    width:100px;
    background-color: white;
    border:5px inset black;
}


#box8{
    height:100px;
    width:100px;
    background-color: black;
    border:5px inset black;
}

